<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744997852598-1idacql2l6hjgg1qcn2j0esthlv816t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744997852598-1idacql2l6hjgg1qcn2j0esthlv816t8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>744997852598-mhht2sc20afpescd4ut3q41rv8fah3g6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAk5nhTd5x0eTD14UBeMsiuoZZmfa1CFMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>744997852598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MedconConference.live</string>
	<key>PROJECT_ID</key>
	<string>medcon-13fd2</string>
	<key>STORAGE_BUCKET</key>
	<string>medcon-13fd2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744997852598:ios:a59d4110150fb480</string>
	<key>DATABASE_URL</key>
	<string>https://medcon-13fd2.firebaseio.com</string>
</dict>
</plist>